*.wav filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
audio_processed/*.wav filter=lfs diff=lfs merge=lfs -text
audio_raw/*.wav filter=lfs diff=lfs merge=lfs -text
